<!--- Content -->
<!-- What I Do -->
<section id="rst-whatido">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 rst-index-whatido">
        <ul>
          <li>
            <img src="/images/wid1.png" alt="">
            <p>
              <span>Hardware Repair</span>
              Laptops, Desktops, Servers, Power Supplies, Hard Drives
            </p>
          </li>
          <li>
            <img src="/images/wid2.png" alt="">
            <p>
              <span>Operating Systems</span>
              Linux, Windows 7-10, MAC OS, Windows 2008 - 2012 r2
            </p>
          </li>
          <li>
            <img src="/images/wid3.png" alt="">
            <p>
              <span>Remote support</span>
              Mauris vehicula felis vulputate velit semper, nec mollis nisi aliquam
            </p>
          </li>
          <li>
            <img src="/images/wid4.png" alt="">
            <p>
              <span>Telecomunications</span>
              Cisco VPN, HP, Dlink and Linksys. Protocols: IPV 4, IPV 6, LAN.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End What I Do -->

<!-- About me -->
<section id="rst-aboutme">
  <div class="container">
    <div class="rst-excerpt">
      <h4>About</h4>
      <p>
        With our experience in computer repair, Apple & Microsoft certifications, and a love for all things geek, we are a Costarican solution to all your technological problems. Home & small business networking, computer repairs, back up, data recovery... Whatever your tech issue is, we've got you covered.
      </p>
      <a href="/about" class="btn btn-primary">read more</a>
    </div>
    <div class="rst-list">
      <ul>
        <li><p>Nunc lacinia non diam eget efficitur</p></li>
        <li><p>Curabitur tristique diam arcu, id eleifend sem</p></li>
        <li><p>Proin et condimentum sapien finibus</p></li>
        <li><p>Donec commodo odio ipsum, vel mollis</p></li>
        <li><p>Nunc lacinia non diam eget efficitur</p></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</section>
<!-- End About me -->

<!-- Hostro services -->
<section id="rst-hostro-services">
  <div class="container">
    <div class="col-xs-12 rst-group-title">
      <h4>Services</h4>
      <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
    </div>

    <!-- Features -->
    <div class="rst-support-features rst-index-services">
      <div class="container">
        <div class="rst-featuresinfo">
          <ul>
            <li>
              <img src="/images/ser1.png" alt="">
              <h5>Retina ready</h5>
              <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
            </li>
            <li>
              <img src="/images/ser2.png" alt="">
              <h5>Easy customize</h5>
              <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
            </li>
            <li>
              <img src="/images/ser3.png" alt="">
              <h5>Pixel perfect</h5>
              <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent tacitix.</p>
            </li>
          </ul>
        </div>
        <div class="rst-featuresimg">
          <img src="/images/iphone2.png" alt="">
        </div>
        <div class="rst-featuresinfo">
          <ul>
            <li>
              <img src="/images/ser4.png" alt="">
              <h5>Unlimited colors</h5>
              <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
            </li>
            <li>
              <img src="/images/ser5.png" alt="">
              <h5>features</h5>
              <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
            </li>
            <li>
              <img src="/images/ser6.png" alt="">
              <h5>Support today</h5>
              <p>Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</p>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- End Features -->
  </div>
</section>
<!-- End Hostro services -->

<!-- Page short description -->
<section class="rst-page-shortdes">
  <div class="container">
    <p>Request your service Today</p>
    <a href="/contact" class="btn btn-primary">Contact us</a>
  </div>
</section>
<!-- End Page short description -->

<!-- Our features -->
<div class="rst-support-features rst-index-features">
  <div class="container">
    <div class="rst-featuresinfo">
      <h4 class="rst-page-title">Our Features</h4>
      <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis</p>
      <ul>
        <li>
          <img src="/images/ser7.png" alt="">
          <h5>Free domain name</h5>
          <p>Cras tempus orci massa, id hendrerit mi egestas vitae.</p>
        </li>
        <li>
          <img src="/images/ser7.png" alt="">
          <h5>Computer or Network  Crash?</h5>
          <p>Call Us:+506 88699238 or email us to info@tecalaz.co.cr</p>
        </li>
        <li>
          <img src="/images/ser7.png" alt="">
          <h5>Regular updates</h5>
          <p>Cras tempus orci massa, id hendrerit mi egestas vitae.</p>
        </li>
      </ul>
    </div>
    <div class="rst-featuresimg">
      <img src="/images/iphone3.png" alt="">
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- End Our features -->

<!-- Testimonial -->
<section id="rst-testimonial" class="rst-index-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 rst-group-title">
        <h4>People Saying</h4>
        <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
      </div>
      <div class="col-xs-12">

        <div style="opacity: 1; display: block;" id="owl-testimonial" class="owl-carousel owl-theme">
          <div class="owl-wrapper-outer"><div style="width: 9360px; left: 0px; display: block;" class="owl-wrapper"><div style="width: 1170px;" class="owl-item"><div>
            <div class="rst-tesimg">
              <img src="/images/testimonial1.jpg" alt="">
            </div>
            <div class="rst-tesinfo">
              <p>
                <img src="/images/quotes1.png" alt="">
                Donec vehicula, ante ut tristique mollis, quam quam mollis
ipsum finibus leo urna nec purus nullam non justo a enim tristique
euismod id id velit ut facilisis sem est, id sollicitudin massa.
                <img src="/images/quotes2.png" alt="">
              </p>
              <p class="rst-testname">Lisa doe, Hostro inc.</p>
            </div>
            <div class="clear"></div>
          </div></div><div style="width: 1170px;" class="owl-item"><div>
            <div class="rst-tesimg">
              <img src="/images/testimonial1.jpg" alt="">
            </div>
            <div class="rst-tesinfo">
              <p>
                <img src="/images/quotes1.png" alt="">
                Donec vehicula, ante ut tristique mollis, quam quam mollis
ipsum finibus leo urna nec purus nullam non justo a enim tristique
euismod id id velit ut facilisis sem est, id sollicitudin massa.
                <img src="/images/quotes2.png" alt="">
              </p>
              <p class="rst-testname">Lisa doe, Hostro inc.</p>
            </div>
            <div class="clear"></div>
          </div></div><div style="width: 1170px;" class="owl-item"><div>
            <div class="rst-tesimg">
              <img src="/images/testimonial1.jpg" alt="">
            </div>
            <div class="rst-tesinfo">
              <p>
                <img src="/images/quotes1.png" alt="">
                Donec vehicula, ante ut tristique mollis, quam quam mollis
ipsum finibus leo urna nec purus nullam non justo a enim tristique
euismod id id velit ut facilisis sem est, id sollicitudin massa.
                <img src="/images/quotes2.png" alt="">
              </p>
              <p class="rst-testname">Lisa doe, Hostro inc.</p>
            </div>
            <div class="clear"></div>
          </div></div><div style="width: 1170px;" class="owl-item"><div>
            <div class="rst-tesimg">
              <img src="/images/testimonial1.jpg" alt="">
            </div>
            <div class="rst-tesinfo">
              <p>
                <img src="/images/quotes1.png" alt="">
                Donec vehicula, ante ut tristique mollis, quam quam mollis
ipsum finibus leo urna nec purus nullam non justo a enim tristique
euismod id id velit ut facilisis sem est, id sollicitudin massa.
                <img src="/images/quotes2.png" alt="">
              </p>
              <p class="rst-testname">Lisa doe, Hostro inc.</p>
            </div>
            <div class="clear"></div>
          </div></div></div></div>



        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonial -->

<!-- Partner -->
<section>
  <div class="container">
    <div class="rst-partner">
      <ul>
        <li><a href="#"><img src="/images/partner1.png" alt=""></a></li>
        <li><a href="#"><img src="/images/partner2.png" alt=""></a></li>
        <li><a href="#"><img src="/images/partner3.png" alt=""></a></li>
        <li><a href="#"><img src="/images/partner4.png" alt=""></a></li>
        <li><a href="#"><img src="/images/partner5.png" alt=""></a></li>
        <li><a href="#"><img src="/images/partner6.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</section>
<!-- End Partner -->

<!-- Get in touch -->
<section id="rst-index-git">
  <div class="container">
    <div class="col-xs-12 rst-group-title">
      <h4>Get In Touch</h4>
      <p>Duis egestas nibh at ex ornare efficitur fusce ullamcorper turpis eu lectus</p>
    </div>

    <form>
      <input class="rst-page-input" placeholder="Name" type="text">
      <input class="rst-page-input" placeholder="Company" type="text">
      <input class="rst-page-input" placeholder="Phone" type="text">
      <input class="btn btn-primary" value="submit" type="submit">
    </form>

    <div class="row rst-address">
      <div class="col-xs-3">
        <span>Costa Rica</span>
        <p>Escazú, San José</p>
        <a href="mailto:info@tecalaz.co.cr">info@tecalaz.co.cr</a>
      </div>
    </div>
  </div>
</section>
<!-- End Get in touch -->

<!--- End Content -->
