<!--- Footer -->
<footer>
  <div class="rst-footer-intro">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Hosting use <span>500,000</span> happy customers. Want to see services?</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end intro -->

  <div class="rst-footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© 2016 Tecalaz. All right reserved.</p>
          <a class="rst-uptop" href="#"><i class="fa fa-angle-up"></i></a>
          <nav>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/clients">Clients</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--- End Footer -->
