<!--- Header -->
<header>
  <div class="rst-header-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="rst-header-menu">
            <ul>
              <li class="current-menu-item"><a href="/">home</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="/services">services</a></li>
              <li><a href="/clients">clients</a></li>
              <li><a href="/contact">contact</a></li>
            </ul>
            <div class="clear"></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- end header menu -->

  <div style="opacity: 1; display: block;" class="rst-header-banner owl-carousel owl-theme" id="rst-index-banner">
    <div class="owl-wrapper-outer"><div style="width: 7680px; left: 0px; display: block;" class="owl-wrapper"><div style="width: 1280px;" class="owl-item"><div class="rst-index-slider">
      <div class="rst-slider-background" style="background: url('images/indexbanner-bg.jpg') no-repeat top center;"></div>
      <div class="container">
        <div>
          <h3>Computer or Network  Crash?</h3>
          <p>Call Us: +506 8869-9238 or email us to info@tecalaz.co.cr</p>
          <a href="/contact" class="btn btn-primary">Contact us</a>
        </div>
      </div>
    </div></div><div style="width: 1280px;" class="owl-item"><div class="rst-index-slider">
      <div class="rst-slider-background" style="background: url('images/indexbanner-bg2.jpg') no-repeat top center;"></div>
      <div class="container">
        <div>
          <h3>Consulting</h3>
          <p>Curabitur ultricies elementum mauris eu dapibus dui <br> aliquet mauris euismod neque a molestie</p>
          <a href="#" class="btn btn-primary">Get started</a>
        </div>
      </div>
    </div></div><div style="width: 1280px;" class="owl-item"><div class="rst-index-slider">
      <div class="rst-slider-background" style="background: url('images/indexbanner-bg3.jpg') no-repeat top center;"></div>
      <div class="container">
        <div>
          <h3>Networking – home office / business</h3>
          <p>Curabitur ultricies elementum mauris eu dapibus dui <br> aliquet mauris euismod neque a molestie</p>
          <a href="#" class="btn btn-primary">Get started</a>
        </div>
      </div>
    </div></div></div></div>


  <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><img src="/images/icon/homeslider-prev.png" alt=""></div><div class="owl-next"><img src="/images/icon/homeslider-next.png" alt=""></div></div></div></div>
  <!-- end header banner -->

  <!-- Hidden Log in form -->
  <div class="rst-floatlogin">
    <div class="rst-floatlogin-content">
      <a href="#"><img src="/images/login-close.png" alt=""></a>
      <form action="/">
        <h4 class="rst-page-title">Login</h4>
        <p><a href="#">Signup</a> for free one mount trial</p>
        <input class="rst-page-input" placeholder="Artem" type="text">
        <input class="rst-page-input" placeholder="Password" type="password">
        <input class="btn btn-primary" value="LOGIN" type="submit">
      </form>
    </div>
  </div>
  <!-- End Log in form -->

  <!-- Hidden menu -->

  <!-- End Hidden menu -->
</header>
<!--- End Header -->
